{
  auto_https off
}

:80 {
    root * /app/dist
    file_server

    # TEMPORARY: expose build output
    route /debug-dist/* {
        root * /app
        file_server browse
    }

    try_files {path} /index.html
}
